/* Global Generic Styles */
img{
    max-width: 100%;
}
.row{ 
    box-shadow: 0 0 0px 0px #ccc;
}

/* Site Header */
.main-header img { width: 50px}
.col-6.pt-4{
    text-align: center;
    justify-content: center;
}